

<div class="card" id="new-favorite-header">
  <div class="card-description">
    <h1>Nouvelle favorite</h1>
    <p>Dis nous qui elle est, nous te dirons ce qu'elle aime</p>
  </div>
  <!-- <img class="card-user avatar" src="user.jpg"> -->
  <!-- <a class="card-link" href="#" ></a> -->
</div>

<%= render 'form' %>

<%= link_to 'Back', profiles_path %>
